[Unit]
Description=IPFS daemon
After=network.target auditd.service

[Service]
Type=simple
User=opera
Group=opera
ExecStart=/usr/local/bin/ipfs daemon --init --migrate
Restart=on-failure
RestartSec=10s
TimeoutSec=900

[Install]
WantedBy=multi-user.target

